/******************** 
 * Enviroments styles
 * ******************/

body {
  display: flex;
}

main{
  margin: auto;
}

nav{
  padding: 10px;
}

#table-of-contents, #table-of-contents ul{
  list-style: none;
  padding: 0;
  margin: 0px;
  display: block;
  gap: 10px;
}

#table-of-contents li {
  padding: 5px 8px;
  border-radius: 3px;
  transition: background-color 0.2s ease;
  position: relative;
}

#table-of-contents li:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}

#table-of-contents ul li:hover {
  background-color: #c6c6c6;
  cursor: pointer;
}

nav {
  width: 15vw;
  background-color: rgb(240, 240, 240);
  box-shadow: -1px 2px 5px 0 rgba(99, 99, 99, 0.4);
  height: 100%;
  border-radius: 5px;
  margin-right: 20px;
}

/* testando inserir o titulo como um atributo*/
section {
  position: relative;
  padding-bottom: 10px;
  /*border-left: 2px solid #ccc;apenas para ver a identação
  */
}

section > * {
  margin-top: 10px;  /* Espaçamento entre o título da section */
}

/* espaço para o título
section[title] {
  padding-top: 60px;
  padding-left: 30px;
} */

section > dlt-title {
  display: block;
  font-size: 2.2rem;
  font-weight: bold;
}

subsection > dlt-title {
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
}

subsection{
  padding-left: 30px;
  position: relative;
  display: block;
}

subsection > * {
  margin-top: 10px;  /* Espaçamento entre o título da section */
}

.environment > dlt-title {
  display: block;
  font-weight: bold;
}

.collapsible > dlt-title {
  cursor: pointer;
}

.collapsible > dlt-title::before {
  content: '▼';
  display: inline-block;
  margin-right: 8px;
  font-size: 0.8em;
  transition: transform 0.2s ease-in-out;
}

.is-collapsed > .content-wrapper {
  display: none;
}

.is-collapsed > dlt-title::before {
  transform: rotate(-90deg); /* Rotate to point right */
}

theorem, solution {
  font-style: italic;
  padding-top: 1px;
  padding-bottom: 1px;
}

theorem > *, solution > * {
  margin-top: 10px;  /* Espaçamento entre o título da section e os filhos diretos */
  margin-bottom: 10px;
}

list > item {
  display: block;
  margin: 1rem;
}

ref {
  cursor: pointer;
  color: blue;
}

.ref-wrapper {
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.ref-content {
  background: white;
  padding: 20px;
  min-width: 250px;
  text-align: center;
  position: relative;
}

.close-ref {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
}
